body {
    background: #8fbc8f		;
  }
  h1 {
    text-align: center;
    color: #000000;
    font-family: Apple Chancery				
  }

img.images {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    height:312px;
}

#twoimages{text-align:center;}
  